@{
    Layout = "~/Views/Shared/_LayoutProp2.cshtml";
}

@model IEnumerable<LoyerVoiture.Models.Voiture>

@{
    ViewBag.Title = "Index";
}
<br />
<br />

<table>
    <tr>
      
        <td> 
            @using (Html.BeginForm("Rechercher", "Proprietaire", FormMethod.Post))
            {
                <input type="text" name="recherche" id="recherche" style="margin-left:750px; height:10px;padding:12px 20px 12px 12px; background-color:bisque;background-repeat:no-repeat;border-radius:10px;background-position:center" placeholder="research here" />
            }
        </td>
    </tr>
</table>



<div class="services" id="service">
    <div class="container">
        <div class="wthree_title_agile">
            <h3> My <span>Cars</span>  Space </h3>
        </div>
        <p class="sub_para">Welcome to your space </p>
        <div class="inner_w3l_agile_grids">
            @foreach (var item in Model)
            {
                <div class="col-md-4 agileits_service_grid_btm_left">
                    <div class="agileits_service_grid_btm_left1">
                        <div class="agileits_service_grid_btm_left2">
                            <h5>@item.nom</h5>
                            <p>Price<span>:</span>@item.prix Dhs </p>

                        </div>
                        <img src="~/images/@item.image" alt=" " class="img-responsive">
                    </div>
                    @Html.ActionLink(" More details ", "DetailsVoitures", new { id = item.id }, new { @class = "btn btn-primary btn-lg btn-block buy-now" })
                    <br />
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
